<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 
    <head th:include="include/admin/adminHeader::html('分类管理')" ></head>
    <body>
        <div th:replace="include/admin/adminNavigator::html" ></div>
        <script>

        
        
        $(function(){
        	
            var data4Vue = {
                    uri:'categories',
                    beans: [],
                    bean: { id: 0, name: ''}
            };

                	
                	var vue=new Vue({
                        el:'#workingArea',
                        data:data4Vue,
                        mounted:function(){
                        this.list();
                        },
                        methods:{
                        	list:function(){
                        		var url=this.uri;
                        		axios.get(url).then(function(a){
                        			
                        			vue.beans=a.data;
                        			
                        		});
                        		
                        	}
                        	
                        }
                        	});
                	
                	
                });
        
 
        </script>
        <div id="workingArea" >
            <h1 class="label label-info" >分类管理</h1>
            <br>
            <br>
            <div class="listDataTableDiv">
                <table class="table table-striped table-bordered table-hover  table-condensed">
                    <thead>
                    <tr class="success">
                        <th>ID</th>
                        <th>图片</th>
                        <th>分类名称</th>
                        <th>属性管理</th>
                        <th>产品管理</th>
                        <th>编辑</th>
                        <th>删除</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr v-for="bean in beans ">
                            <td>{{bean.id}}</td>
                            <td>
                                <img height="40px"  :src="'img/category/'+bean.id+'.jpg'">
                            </td>
                            <td>
                                {{bean.name}}
                            </td>
                            <td>
                                <a :href="'admin_property_list?cid=' + bean.id "><span class="glyphicon glyphicon-th-list"></span></a>
                            </td>
                            <td>
                                <a :href="'admin_product_list?cid=' + bean.id "><span class="glyphicon glyphicon-shopping-cart"></span></a>
                            </td>
                            <td>
                                <a :href="'admin_category_edit?id=' + bean.id "><span class="glyphicon glyphicon-edit"></span></a>
                            </td>
                            <td>
                                <a href="#nowhere"  @click="deleteBean(bean.id)"><span class="   glyphicon glyphicon-trash"></span></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            
            
        </div>
        <div th:replace="include/admin/adminFooter::html" ></div>
    </body>
</html>